#root,
body,
html {
  height: 100vh;
}
body {
  margin: 0;
  /* background-color: whitesmoke; */
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
